section {
  margin-bottom: 5rem; /* adds space after each section */
  margin-top: 5rem; /* adds space before each section */
  padding: 1rem; /* adds padding inside each section */
}

/* Navbars */
.first-navbar {
  background-color: #d0a5dd;
}

.second-navbar {
  display: flex;
}

.third-navbar {
  background-color: #fcf0ff;
  height: auto;
  font-size: auto;
  gap: auto;
  margin-bottom: 4rem;
}

/* Logo */
.second-navbar .navbar-brand img:first-child {
  width: 8vw;
  min-width: 50px;
  max-width: 80px;
  height: auto;
}
/* Brand Name */
.second-navbar .navbar-brand img:last-child{
  width: 36vw;
  min-width: 90px;
  max-width: 360px;
  height: auto;
}

/* User & Cart */
.second-navbar .nav-link img{
  width: 5vw;
  min-width: 5px;
  max-width: 40px;
}


.third-navbar-links {
  margin: auto; /* Center the links */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #545454;
  display: flex;
  gap: 4rem;
}

.ai-analysis {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position:relative;  /* Needed for absolute positioning of .buttons */
  justify-content: center;
  align-items: center;
}

.buttons{
  position:absolute;
  top: 95%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 600;
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 1rem;
}

.buttons:hover{
  background-color: #b374c8;
}

.shop-heading{
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 3rem;
}

.shop-products{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #545454;
}

.shop-buttons{
  font-size: 1rem;
  font-weight: 600;
  background-color: none;
  border-color: #d0a5dd;
  padding: 0.5rem;
  color: #b374c8;
}

.shop-buttons:hover{
  background-color: #b374c8;
  border:none;
}

.image-overlay-container {
  position: relative; /* Needed for absolute positioning of button */
  display: inline-block;
}

.why-us{
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.why-para{
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 1.2rem;
  text-align: center;
}

.skincare-basics{
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 4rem;
  font-weight: 400;
}

.footer-text{
  font-family: "Montserrat", sans-serif;
  color: #545454;
  font-size: 1rem;
  text-align: center;
  justify-content: center;
}

.footer-text .nav-link{
  color: #b374c8;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;

}

.footer-navbar {
  background-color: #fcf0ff;
  height: auto;
  font-size: auto;
  gap: auto;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.go-to-top:hover {
  background-color: #b57bc0;
}

.analysis-page-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #545454;
  margin-left: 5rem;
}

.analysis-page-text button{
  background-color: #d0a5dd;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.analysis-page-text button:hover {
  background-color: #7d3396;
}

.preview-image{
  height:auto;
  width:80%;
  margin-top: 10%;
}

.shop-page-cards{
  height:100%;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  margin-bottom: auto;
}

.shop-page-cards .card-body{
  display:flex;
  flex-direction: column;
}

.shop-page-buttons{
  font-size: 1rem;
  font-weight: 600;
  background-color: #d0a5dd;
  border: #d0a5dd;
  color: white;
  width: 100%;
  margin-top: auto;
}

.shop-page-buttons:hover{
  background-color: #7d3396;
  border: none;
}

.shop-page-navbar{
  font-size: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
}

.shop-page-navbar-buttons{
  margin: auto;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: white;
  border: 2px solid #d0a5dd;
  padding: 1.5rem;
  color: #d0a5dd;
  margin-bottom: 1rem;
}

.shop-page-navbar-buttons:hover{
  background-color: #d0a5dd;
  border: none;
}

/* Active state */
.shop-page-navbar-buttons.active {
  background-color: #b374c8;
  border: none;
  color: white;
}

.shop-page-cards .card-title{
  color:#7d3396;
  margin-top: auto;
}

.shop-page-cards .card-subtitle{
  text-align: justify;
  margin-top: auto;
  color: #7d3396;
}

.shop-page-cards .card-text{
  text-align: left;
  color: grey;
  margin-top: auto;
}

.cards-row{
  margin-bottom: 5rem;
}